<section class="container-md container-item">
  <div class="item-img">
    <img src="https://www.dictionary.com/e/wp-content/uploads/2019/05/birb-2-380x380.jpg" />
  </div>
  <div id="" class="favourite favourite_on"></div>
  <div class="item-info">
    <h3>_ in Stock</h3>
  </div>
  <div class="item-title">
    <p>This is the title</p>
  </div>
</section>
