<div>
  <nav>
    <a href="">Search</a>
    <% if (false) { %>
    <a href="">Login</a>

    <% } else { %>

    <a href="">Favourites</a>
    <a href="">My Listings</a>
    <a href="">My Messages</a>
    <a href="">Logout</a>
    <% } %>
  </nav>
</div>
