<div class="header">
  <div class="company">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Pardalotus_with_nesting_material.jpg">
    <h1>kupit</h1>
  </div>
  <nav class="navbar-nav">
    <button type="button" class="btn btn-primary"><a href="">Search</a></button>

    <% if (false) { %>
    <button type="button" class="btn btn-primary"><a href="">Login</a></button>

    <% } else { %>

    <button type="button" class="btn btn-primary"><a href="">Favourites</a></button>
    <button type="button" class="btn btn-primary"><a href="">My Listings</a></button>
    <button type="button" class="btn btn-primary"><a href="">My Messages</a></button>

    <button type="button" class="btn btn-outline-danger"><a href="">Logout</a></button>
    <% } %>
  </nav>
</div>
