<nav class="navbar navbar-expand-lg ">
  <img class="logo rounded" src="images/logo.jpg" />
  <a class="navbar-brand" href="#">Kupit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <form class="my-2 my-lg-0">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li id="search-show" class="nav-item mr-sm-3 py-3 px-2" data-toggle="modal" data-target="#modal">
            <p class="nav-item__text">Search</p>
          </li>

          <% if (user === undefined) { %>
          <li class="nav-item login mr-sm-3 py-3 px-2 nav-item__text" data-toggle="modal" data-target="#modal">
            Login
          </li>

          <% } else { %>
          <li id="my-favorites" data-userid="<%= user.id %>" class="nav-item mr-sm-3 py-3 px-2">
            <p class="nav-item__text">Favourites</p>
          </li>
          <li id="my-listings" data-userid="<%= user.id %>" class="nav-item  mr-sm-3 py-3 px-2">
            <p class="nav-item__text">Listings</p>
          </li>
          <li class="nav-item mr-sm-3 py-3 px-2">
            <a href="/user" class="nav-item__text">
              Messages
            </a>
          </li>
          <li class="nav-item  mr-sm-2 py-3 px-2">
            <a href="/api/users/logout" class="nav-item__text">
              Logout
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </form>
  </div>
</nav>