<div class="navbar navbar-expand-sm sticky-top header">
  <div class="navbar-brand company">
    <img class="logo rounded" src="images/logo.jpg" />
    <h1>kupit</h1>
  </div>
  <nav class="navbar-nav">
    <button id="search-show" type="button" class="nav-item btn btn-primary" data-toggle="modal" data-target="#modal">
      Search
    </button>

    <% if (user === undefined) { %>
    <button type="button" class="nav-item btn btn-primary login" data-toggle="modal" data-target="#modal">
      Login
    </button>

    <% } else { %>

    <button type="button" class="nav-item btn btn-primary">
      <a href="/favorite/<%= user.id %> ">Favourites</a>
    </button>
    <button id="my-listings" data-userid="<%= user.id %>" type="button" class="nav-item btn btn-primary">
      My Listings
    </button>
    <button type="button" class="nav-item btn btn-primary">
      <a href="/user">My Messages</a>
    </button>

    <button type="button" class="nav-item btn btn-outline-danger">
      <a href="/api/users/logout">Logout</a>
    </button>
    <% } %>
  </nav>
</div>