<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/_navbar') %>
  <main class="container-fluid container-items">
    <% for( let index = 0; index < 8; index++ ) { %>
    <%- include('./partials/_item') %>
    <% } %>
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
