<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/_navbar') %>
  <main class="container-fluid item_new">
    
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
