.container-items {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  width: 90%;
  padding: 0.5em;
}

.container-item {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 10em auto auto;
  grid-template-areas:
    "image favourite"
    "image info "
    "title title";
  max-width: 800px;
  border: $color-primary-3 solid medium;
  padding: 0.5em;
  .item-img {
    grid-area: image;
    max-width: 100%;
    max-height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  .container-favourite {
    grid-area: favourite;
    display: inherit;
    justify-items: end;
    >img {
      height: 2em;
      width: 2em;
    }
  }
  .item-info {
    grid-area: info;
    display: inherit;
    align-content: end;
  }
  .item-title {
    grid-area: title;
  }
}
