.container-items {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  width: 90%;
  padding: 0.5em;
}

.container-item {
  display: grid;
  // grid-template-columns: 15em 1fr;
  // grid-template-rows: 10em 5em auto;
  // grid-template-areas:
  //   "image favorite"
  //   "image info "
  //   "title title";
  grid-template-columns: auto auto;
  grid-template-rows: 15em auto auto auto;
  grid-template-areas:
    "image image"
    "info favorite"
    "title title"
    "button button";
  max-width: 800px;
  border: $color-primary-3 solid medium;
  padding: 0.5em;
  .item-img {
    grid-area: image;
    width: 100%;
    max-height: 15em;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }
  .item-favorite {
    grid-area: favorite;
    justify-self: end;
    > img {
      height: 2em;
      width: 2em;
    }
  }
  .item-info {
    grid-area: info;
  }
  .item-title {
    grid-area: title;
  }
  .item-btn {
    grid-area: button;
  }
}
