.main_body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 45vh 50vh;
  grid-template-areas:
    "img info item"
    "list input input";
  padding: 1em;
  grid-gap: 1em;

  .image_container {
    grid-area: img;
    width: 100%;
    border: hidden;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
  }

  .data_container {
    grid-area: info;
    max-width: 100%;
    max-height: 100%;

    background-color: #320805;
    padding: 5%;
    border-radius: 10px;
    p {
      color: white;
    }
  }

  .item_display {
    grid-area: item;
    max-width: 100%;
    height: 45vh;
    background-color: #320805;
    padding: 5%;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-template-rows: auto;
    grid-template-areas: "item_img item_info";
    li {
      grid-area: item_info;
      color: white;
    }
    .msg_item {
      grid-area: item_img;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    ul {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  #message_container {
    max-width: 100%;
    height: 45%;
    overflow-y: scroll;
    border: solid 2px #320805;
    border-radius: 10px;
    display: table-column;
  }
  .change_box {
    background-color: #312b2b;
    width: 100%;
    border: none;
    // border-radius: 5px;
    transition: 0.1s;
    font-size: 17px;
    color: white;
    outline: none;
  }

  .change_box:hover {
    background-color: #473f3f ;
  }

  .change_box:active {
    background-color: #5c5151;
  }

  .message_inbox .message_list{
    overflow-y: scroll;
    height: 100%;
    display: block;
  }
  .test {
    font-size: small;
    justify-self: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #320805;
    color: white;
    outline: none;
    transition: 0.1s;

  }
  .test:hover {
    background-color: #663a37 ;
  }

  .test:active {
    background-color: #88524e;
    outline: none;
  }

  .form_column {
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .message_box {
    grid-area: input;
    width: 100%;
    max-height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text field"
      "text submit";
    grid-gap: 1em;
  }

  .submit_button {
    grid-area: submit;
    background-color: #320805;
    color: white;
    border: none;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    padding: 0.75%;
    outline: none;
  }

  .submit_button:hover {
    box-shadow: grey 0px 0px 5px;
  }
  .submit_button:active {
    box-shadow: black 0px 0px 5px;
  }

  .input_text {
    grid-area: field;
    width: 100%;
    height: 55%;
    resize: none;
    border: solid 2px #320805;
    border-radius: 10px;
  }

  .message_display {
    grid-area: text;
    max-width: 60vw;
    height: auto;
    word-wrap: break-word;
    background-color: #320805;
    color: white;
    padding: 2%;
    border-radius: 10px;
    height: 45%;

  }

  .input_form {
    width: 100%;
    textarea {
      outline: none;
      padding: 5px;
      margin-bottom: 5px;
    }
  }


  @media only screen and (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 30vh 45vh 50vh 20vh;
    grid-template-areas:
      "img"
      "info"
      "item"
      "list"
      "input";
    overflow-y: scroll;

    .image_container {
      height: 100%;
    }

    .message_list .message_inbox {
      grid-area: list;
      max-width: 100%;
      height: 100%;
      overflow: scroll;
      border: solid 2px #320805;
      border-radius: 10px;
    }
    .item_display {
      height: 100%;
    }
    #message_container {
      height: 100%;
    }
    .message_display {
      height: 100%;
    }
    .test {
      height: 5vh;
      margin-top: .4vh;
      margin-bottom: .4vh;
    }
    .change_box {
      height: 5vh;
    }
  }
}
