.single-item {
  display: flex;

  .image {
    margin-right: 20px;
    display: grid;
    grid-template-areas: "image";
    align-items: center;
    > img {
      width: 45vh;
      grid-area: image;
      &.is-sold {
        z-index: 200;
      }
    }
  }
  .title {
    .item-price {
      color: #42b72a;
    }
    .list-info {
      color: grey;
    }
  }
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
      p {
        margin-bottom: 5px;
      }
    }
    .material-icons {
      display: flex;
      justify-content: center;
      transition: 300ms;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .message-form {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    textarea {
      width: 100%;
      padding: 6px;
      margin-right: 5px;
      background-color: inherit;
      border-radius: 5px;
      border: 1px solid #dadcde;
      outline: none;
      resize: none;
    }
  }
}

@media (max-width: 992px) {
  .single-item {
    display: flex;
    flex-direction: column;
  }
  .image {
    margin-bottom: 20px;
    img {
      width: 45vh;
    }
  }
}
