.single-item {
  display: flex;

  .image {
    margin-right: 20px;
    img {
      width: 45vh;
    }
  }
  .title {
    .item-price {
      color: #42b72a;
    }
    .list-info {
      color: grey;
    }
  }
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
    }
    .material-icons {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .single-item {
    display: flex;
    flex-direction: column;
  }
  .image {
    margin-bottom: 20px;
    img {
      width: 45vh;
    }
  }
}
