// See: https://sass-lang.com/
@import "variables";
@import "footer";
@import "header";
@import "items";
@import "messages";

html {
  font-size: $base-font-size;
}

button,
input {
  > a,
  :active,
  :hover {
    text-decoration: none;
    color: $color-primary-4;
  }
}