// See: https://sass-lang.com/
@import "variables";
@import "footer";
@import "header";
@import "items";
@import "messages";
@import "single-item";
@import "search-form";

html {
  font-size: $base-font-size;
}

button,
input {
  > a,
  :active,
  :hover {
    text-decoration: none;
    color: $color-primary-4;
  }
}

body {
  background-color: $color-barely-grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  color: $color-primary-4;
}
